.EditChannel__Container{
    width: 800px;
}

.EditChannel__Mode-Container{
    display: flex;
    flex-direction: column;
    width: 80%;
    margin: 0 auto;
    max-width: 350px;
}

.EditChannel__Mode-Btn{
    width: 100%;
    margin: 0 auto 10px;
}

.EditChannel__Form-Row{
    display: flex;
    align-items: center;
    margin-bottom: 5px;
}

.EditChannel__Form-Input-Title{
    width: 85px;
}

.EditChannel__Form-Input{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.EditChannel__Submit-Btn{
    width: 90%;
    max-width: 635px;
}

.EditChannel__InnerContainer form{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.EditChannel__Form-City{
    width: 44%;
}

.EditChannel__Form-Street{
    width: 44%;
}

.EditChannel__Form-Home{
    width: 9%;
}

.EditChannel__Form-Pe{
    width: 49%;
}

.EditChannel__Form-Input-PE{
    flex-wrap: wrap;
}

.EditChannel__Form-Input-PE-Port{
    width: 24%;
}
.EditChannel__Form-Input-PE-Vid{
    width: 24%;
}

/*Приоритет снизу вверх*/
/*Сначала правило до 320 потом до 480 и т.д*/
@media (max-width: 600px) {
    /*from 0px to 768px*/
    .EditChannel__Form-Row{
        flex-direction: column;
    }
    .EditChannel__Form-Input-Title{
        text-align: center;
        margin-bottom: 7px;
        font-weight: bold;
    }
    .EditChannel__Form-Input-Address{
        flex-direction: column;
    }
    .EditChannel__Form-City{
        width: 100%;
        margin-bottom: 5px;
    }
    .EditChannel__Form-Street{
        width: 100%;
        margin-bottom: 5px;
    }
    .EditChannel__Form-Home{
        width: 100%;
    }
    .EditChannel__Form-Pe{
        width: 100%;
        margin-bottom: 10px;
    }
    .EditChannel__Form-Input-PE-Port{
        width: 49%;
    }
    .EditChannel__Form-Input-PE-Vid{
        width: 49%;
    }
}
