.LoginPage__Container{
    height: 100%;
    display: flex;
}

.LoginPage__Login-Module{
    min-height: 650px;
    width: 100%;
    max-width: 400px;
    background-color: #ffffff;
    margin: auto auto;
    border-radius: 35px;
    position: relative;
    box-shadow: -20px 28px 29px 3px rgba(0,0,0,0.1);
}

.LoginPage__Container--Dark .LoginPage__Login-Module{
    background-color: #071426;
}

.LoginPage__Login-Module-Header{
    background-color: #5a57ff;
    height: 200px;
    border-radius: 35px 35px 140px 40px;
    user-select: none;
}

.LoginPage__Container--Dark .LoginPage__Login-Module-Header{
    background-color: #A5B4FC;
}

.LoginPage__Login-Module-Header-Title{
    letter-spacing: 1px;
    padding-left: 40px;
    padding-top: 30px;
    font-size: 36px;
    color: #ffffff;
    font-weight: bold;
    font-family: 'Exo 2', sans-serif;
}

.LoginPage__Container--Dark .LoginPage__Login-Module-Header-Title{
    color: #1c2127;
}

.LoginPage__Login-Module-Header-Title p{
    margin-bottom: 15px;
}

.LoginPage__Login-Module-Header-SubTitle{
    padding-top: 10px;
    padding-left: 40px;
    font-size: 20px;
    color: #ffffff;
    opacity: 0.9;
}

.LoginPage__Container--Dark .LoginPage__Login-Module-Header-SubTitle{
    color: #1c2127;
}

.LoginPage__Login-Module-Form{
    margin: 80px auto 0;
    width: 80%;
}

/*.LoginPage__Login-Module-Form-Input{*/
/*    !*margin-bottom: 20px;*!*/
/*}*/

.LoginPage__Login-Module-Form .p-error{
    margin-bottom: 10px;
    margin-top: 5px;
    display: block;
    transition: 0.3s;
    margin-left: 55px;
}

.LoginPage__Login-Module-Form-Submit{
    width: 100%;
    margin-bottom: 20px;
}

.LoginPage__Login-Module-Form-Forgot span:hover {
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s;
}

.LoginPage__Login-Module-Form-Forgot{
    user-select: none;
    text-align:center;
    color: #757575;
    letter-spacing: 1px;
    /*font-size: 18px;*/
}

.LoginPage__Login-Module-Bottom{
    position: absolute;
    width: 100%;
    height: 60px;
    background-color: #5a57ff;
    border-radius: 10px 10px 35px 35px;
    bottom: 0px;
    display: flex;
    justify-content:center;
    align-items: center;
    letter-spacing: 1px;
    color: #ffffff;
}

.LoginPage__Container--Dark .LoginPage__Login-Module-Bottom{
    background-color: #A5B4FC;
    color: #1c2127;
}

.LoginPage__Login-Module-Bottom span:hover {
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s;
}

.LoginPage__Left-Side{
    display: flex;
    align-items: center;
    width: 50%;
}

.LoginPage__Right-Side{
    width: 50%;
}

/*Приоритет снизу вверх*/
/*Сначала правило до 320 потом до 480 и т.д*/

@media (max-width: 992px){
    /*from 0px to 992px*/
    .LoginPage__Left-Side{
        width: 100%;
    }
    .LoginPage__Right-Side{
        display: none;
    }
    .LoginPage__Login-Module{
        box-shadow: none;
    }
}
@media (max-width: 480px){
    /*from 0px to 480px*/
    .LoginPage__Login-Module-Header-Title{
        font-size: 28px;
    }
    .LoginPage__Login-Module-Header-SubTitle{
        font-size: 16px;
    }
    .LoginPage__Login-Module-Form{
        width: 95%;
    }
    .LoginPage__Login-Module-Form-Forgot{
        font-size: 14px;
    }
    .LoginPage__Login-Module-Bottom{
        font-size: 14px;
    }
}
