.ChannelsPage__Table-Container table{
    /*min-height: 700px;*/
}

.ChannelsPage__Table-Container{
    border: 1px solid #efdbff;
    -webkit-box-shadow: -7px 4px 29px 9px rgba(217, 217, 217, 0.2);
    -moz-box-shadow: -7px 4px 29px 9px rgba(217, 217, 217, 0.2);
    box-shadow: -7px 4px 29px 9px rgba(217, 217, 217, 0.2);
}

.ChannelsPage__Filters{
    height: 110px;
    /*background-color: red;*/
}
