.ChannelsPage__Table-Container table{
    /*стиль который не даёт таблице уменьшится при недостатке элементов, подумать, нужен он или нет*/
    min-height: 700px;
}

.ChannelsPage__Table-Container{
    margin-top: 10px;
    border: 1px solid #efdbff;
    -webkit-box-shadow: -7px 4px 29px 9px rgba(217, 217, 217, 0.2);
    -moz-box-shadow: -7px 4px 29px 9px rgba(217, 217, 217, 0.2);
    box-shadow: -7px 4px 29px 9px rgba(217, 217, 217, 0.2);
}

.ChannelsPage__Table-ID-Field{
    width: 5%;
}

.ChannelsPage__Table-ID-OSS-Field{
    width: 5%;
}

.ChannelsPage__Table-Client-Field{
    width: 40%;
}

.ChannelsPage__Table-City-Field{
    width: 15%;
}

.ChannelsPage__Table-Service-Field{
    width: 5%;
}

.ChannelsPage__Table-Size-Field{
    width: 5%;
}

.ChannelsPage__Table-Street-Field{
    width: 15%;
}

.ChannelsPage__Table-Home-Field{
    width: 5%;
}

.ChannelsPage__Table-Status-Field{
    width: 5%;
}

.ChannelsPage__Table-Date-Field{
    width: 5%;
}