/*.ChannelsPage__Table-Container table{*/
/*    !*стиль который не даёт таблице уменьшится при недостатке элементов, подумать, нужен он или нет*!*/
/*    min-height: 700px;*/
/*}*/

.ChannelsPage__Table-Container .p-datatable-wrapper {
    max-height: calc(100vh - 255px);
}

.ChannelsPage__Table-Container{
    margin-top: 10px;
    border: 1px solid #efdbff;
    -webkit-box-shadow: -7px 4px 29px 9px rgba(217, 217, 217, 0.2);
    -moz-box-shadow: -7px 4px 29px 9px rgba(217, 217, 217, 0.2);
    box-shadow: -7px 4px 29px 9px rgba(217, 217, 217, 0.2);
}

.ChannelsPage__Table-ID-Field{
    width: 5%;
    max-width: 130px;
    overflow-x: hidden;
}

.ChannelsPage__Table-ID-OSS-Field{
    width: 5%;
    max-width: 5%;
}

.ChannelsPage__Table-Client-Field{
    width: 40%;
}

.ChannelsPage__Table-City-Field{
    width: 15%;
}

.ChannelsPage__Table-Service-Field{
    width: 5%;
}

.ChannelsPage__Table-Size-Field{
    width: 5%;
}

.ChannelsPage__Table-Street-Field{
    width: 15%;
}

.ChannelsPage__Table-Home-Field{
    width: 5%;
}

.ChannelsPage__Table-Status-Field{
    width: 5%;
}

.ChannelsPage__Table-Date-Field{
    width: 5%;
}

/*Приоритет снизу вверх*/
/*Сначала правило до 320 потом до 480 и т.д*/
@media (max-width: 1440px) {
    /*from 0px to 1440px*/
    .ChannelsPage__Table-ID-OSS-Field{
        display: none;
    }
    .ChannelsPage__Table-Date-Field{
        display: none;
    }
}
@media (max-width: 1250px) {
    .ChannelsPage__Table-City-Field{
        display: none;
    }
    .ChannelsPage__Table-Street-Field{
        display: none;
    }
    .ChannelsPage__Table-Home-Field{
        display: none;
    }
    .ChannelsPage__Table-Container{
        font-size: 14px;
    }
}
@media (max-width: 1200px) {
    .ChannelsPage__Table-Container .p-datatable-wrapper {
        max-height: calc(100vh - 320px);
    }
}
@media (max-width: 992px){
   .ChannelsPage__Table-Date-Field{
       display: none;
   }
}
@media (max-width: 768px) {
    .ChannelsPage__Table-ID-Field{
        display: none;
    }
    .ChannelsPage__Table-Container .p-datatable-wrapper {
        max-height: max-content;
    }
}
@media (max-width: 480px){
    .ChannelsPage__Table-Size-Field{
        display: none;
    }
}
@media (max-width: 320px){
    /*from 0px to 320px*/
}
