.ChannelsFilters__Container{
    padding-top: 5px;
    padding-left: 10px;
    padding-right: 10px;
    height: 100%;
    display: flex;
}

.ChannelsFilters__Base{
    width: 65%;
    height: 100%;
}

.ChannelsFilters__Info{
    width: 35%;
    height: 100%;
}

.ChannelsFilters__AdditionalSearch{
    display: flex;
    align-items: center;
}

.ChannelsFilters__AdditionalSearch-Input{
    width: 60%;
}

.ChannelsFilters__AdditionalSearch-SearchBtn{
    margin-left: 10px;
}

.ChannelsFilters__AdditionalSearch-ClearBtn{
    margin-left: 10px;
}

.ChannelsFilters__MainSearch{
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
}

.ChannelsFilters__MainSearch-City{
    width: 30%;
}

.ChannelsFilters__MainSearch-Street{
    width: 30%;
}

.ChannelsFilters__MainSearch-Home{
    width: 13%;
}

.ChannelsFilters__MainSearch-Service{
    width: 13%;
}

.ChannelsFilters__MainSearch-Status{
    width: 13%;
}

.ChannelsFilters__Info{
    padding: 10px;
    /*background-color: red;*/
}

.ChannelsFilters__Info div{
    height: 50%;
}

.ChannelsFilters__ExtendedSearch-Info{
    font-size: 28px;
    font-weight: bold;
    letter-spacing: 1px;
    text-align: center;
}

.ChannelsFilters__ExtendedSearch-Btns{
    display: flex;
    justify-content: center;
}

.ChannelsFilters__ExtendedSearch-Btn{
    margin-left: 10px;
}