.ChannelsFilters__Container{
    padding-top: 5px;
    padding-left: 10px;
    padding-right: 10px;
    height: 100%;
    display: flex;
}

.ChannelsFilters__Base{
    width: 65%;
    height: 100%;
}

.ChannelsFilters__Info{
    width: 35%;
    height: 100%;
}

.ChannelsFilters__AdditionalSearch{
    display: flex;
    align-items: center;
}

.ChannelsFilters__AdditionalSearch-Input{
    width: 60%;
}

.ChannelsFilters__AdditionalSearch-SearchBtn{
    margin-left: 10px;
}

.ChannelsFilters__AdditionalSearch-ClearBtn{
    margin-left: 10px;
}

.ChannelsFilters__AdditionalSearch-RegionBtn{
    margin-left: 10px;
}

.ChannelsFilters__AdditionalSearch .p-multistatecheckbox{
    width: 3rem !important;
    height: 3rem !important;
    border-radius: 50%;
}

.ChannelsFilters__AdditionalSearch .p-checkbox .p-checkbox-box{
    width: 3rem !important;
    height: 3rem !important;
    border-radius: 50%;
}

.ChannelsFilters__AdditionalSearch-Btns{
    display: flex;
}

.ChannelsFilters__MainSearch{
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
}

.ChannelsFilters__MainSearch-City{
    width: 30%;
}

.ChannelsFilters__MainSearch-Street{
    width: 30%;
}

.ChannelsFilters__MainSearch-Home{
    width: 13%;
}

.ChannelsFilters__MainSearch-Service{
    width: 13%;
}

.ChannelsFilters__MainSearch-Status{
    width: 13%;
}

.ChannelsFilters__Info{
    padding: 10px;
    /*background-color: red;*/
}

.ChannelsFilters__Info div{
    height: 50%;
}

.ChannelsFilters__ExtendedSearch-Info{
    font-size: 28px;
    font-weight: bold;
    letter-spacing: 1px;
    text-align: center;
}

.ChannelsFilters__ExtendedSearch-Btns{
    display: flex;
    justify-content: center;
}

.ChannelsFilters__ExtendedSearch-Btn{
    margin-left: 10px;
}

/*Приоритет снизу вверх*/
/*Сначала правило до 320 потом до 480 и т.д*/
@media (max-width: 1440px) {
    /*from 0px to 1440px*/
}
@media (max-width: 1200px) {
   .ChannelsFilters__Container{
       flex-wrap: nowrap;
       flex-direction: column;
   }
    .ChannelsFilters__Base{
        order: 2;
        width: 100%;
    }
    .ChannelsFilters__Info{
        order: 1;
        display: flex;
        width: 100%;
        align-items: center;
        justify-content: space-between;
        height: 80px;
        padding: 10px 0;
    }
    .ChannelsFilters__Info div{
        height: 100%;
    }
    .ChannelsFilters__ExtendedSearch-Info{
       line-height: 51px;
    }
    .ChannelsFilters__AdditionalSearch-Input{
        flex-grow: 1;
    }
}
@media (max-width: 992px){
    /*from 0px to 992px*/
}
@media (max-width: 768px) {
    .ChannelsFilters__MainSearch{
        flex-wrap: wrap;
        /*flex-direction: column;*/
    }
    .ChannelsFilters__MainSearch-City{
        width: 100%;
    }
    .ChannelsFilters__MainSearch-Street{
        margin-top: 5px;
        margin-bottom: 5px;
        width: 100%;
    }
    .ChannelsFilters__MainSearch-Home{
        width: 33%;
    }
    .ChannelsFilters__MainSearch-Status{
        width: 33%;
    }
    .ChannelsFilters__MainSearch-Service{
        width: 33%;
    }
    .ChannelsFilters__Info{
        flex-direction: column;
        height: auto;
    }
}
@media (max-width: 480px){
    .ChannelsFilters__AdditionalSearch{
        flex-direction: column;
    }
    .ChannelsFilters__AdditionalSearch-Btns{
        margin-bottom: 10px;
        order: 1;
    }
    .ChannelsFilters__AdditionalSearch-Input{
        order: 2;
        width: 100%;
    }
    .ChannelsFilters__MainSearch{
        margin-top: 5px;
    }
}
@media (max-width: 320px){
    /*from 0px to 320px*/
}
