.RelatedChannel__Container{
    margin-top: 8px;
    height: 60px;
    display: flex;
    align-items: center;
}

.RelatedChannel__Body{
    padding-top: 10px;
    padding-bottom: 10px;
    margin-left: 10px;
    max-width: 75%;
    height: 100%;
    font-family: "Roboto", sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.RelatedChannel__Client{
    font-size: 18px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.RelatedChannel__Id{
    width: 100%;
    color: #8c8c8c;
    font-weight: bold;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 14px;
}
