.TicketPage__Container{
    height: 100%;
    display: flex;
    font-size: 14px;
    justify-content: space-between;
}

.TicketPage__Info {
    background: var(--surface-card);
    padding: 15px;
    border-radius: 5px;
    margin-bottom: 1em;
    width: 25%;
    height: 100%;
}

.TicketPage__Comments{
    width: 74%;
}

.TroubleTicketInfo__Container {
}

.TroubleTicketInfo__Client {
    margin-bottom: 10px;
}

.TroubleTicketInfo__Client-Title {
    color: #8c8c8c;
    font-size: 14px;
    font-weight: bold;
}

.TroubleTicketInfo__Client-Info {
    font-size: 16px;
    margin-top: 5px;
}

.TroubleTicketInfo__Incident {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.TroubleTicketInfo__Incident > div {
    width: 50%;
}

.TroubleTicketInfo__Incident-Title {
    color: #8c8c8c;
    font-size: 14px;
    font-weight: bold;
}

.TroubleTicketInfo__Incident-Info {
    font-size: 16px;
    margin-top: 5px;
}

.TroubleTicketInfo__TT-Status {
    font-weight: bold;
    color: var(--orange-400);
}

.Performers__Container .Performer__Container:last-of-type {
    margin-bottom: 0px;
}

.Performer__Container {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.Performer__Avatar{
    width: 40px;
    height: 40px;
    font-size: 20px;
}

.Performer__Name {
    margin-left: 10px;
    margin-top: 2px;
    font-size: 16px;
}

.TroubleTicketAction__Container {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-between;
}

.TroubleTicketAction__Button {
    margin-bottom: 5px;
    /*width: 33%;*/
}

.AddComment__Container {
    background: var(--surface-card);
    padding: 18px;
    border-radius: 5px;
    margin-bottom: 14px;
    margin-top: 14px;
}

.AddComment__Header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;
}

.AddComment__Container .p-editor-content {
    min-height: 120px;
}

.AddComment__Container .ql-editor {
    min-height: 120px;
}

.Comment__Container {
    background: var(--surface-card);
    padding: 14px 18px;
    border-radius: 5px;
}

.Comment__Header {
    display: flex;
    padding-left: 5px;
    padding-right: 5px;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 8px;
    border-bottom: 1px solid var(--gray-400);
}

.Comment__Author {
    font-size: 16px;
    font-weight: bold;
    padding-top: 3px;
}

.Comment__Theme-Tag {
    height: 28px;
    font-weight: bold;
}

.Comment__Text {
    margin-top: 8px;
    margin-bottom: 8px;
    background-color: var(--surface-100);
    padding: 10px;
    font-size: 14px;
    overflow: auto;
    line-height: 16px;
}

.Comment__Text * {
    margin: 0;
    padding: 0;
}

.Comment__Text .ql-syntax {
    background-color: #424242;
    color: #f8f8f2;
    overflow: hidden;
    border-radius: 3px;
    padding: 5px;
    margin-top: 5px;
}

.CommentFile__Container {
    margin-left: 5px;
    font-size: 16px;
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    color: var(--primary-400);
    transition: 0.1s linear;
    overflow: hidden;
}

.CommentFile__Container:hover {
    color: var(--blue-400);
    cursor: pointer;
}

.CommentFile__Icon {
    font-size: 22px;
    margin-right: 5px;
}

.Comment__Date {
    padding-left: 5px;
    padding-right: 5px;
}

.Comment__Date span {
    font-weight: bold;
}

.UploadFile__Container {
    margin-top: 10px;
    display: flex;
}

.UploadFile__Container .p-button-icon {
    font-size: 18px;
}

.UploadFile__Container .p-button-label {
    display: none;
}

.AddComment-File__Container {
    width: 45px;
    height: 45px;
    background-color: var(--blue-300);
    margin-right: 10px;
    border-radius: 5px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.AddComment-File__Icon {
    font-size: 20px;
}

.AddComment-File__Container:hover .AddComment-File__Icon {
    display: none;
}

.AddComment-File__Container:hover .AddComment-File__Remove {
    display: block;
}

.AddComment-File__Container:hover .AddComment-File__Info {
    display: flex;
}

.AddComment-File__Remove {
    display: none;
    font-size: 20px;
    transition: 0.1s linear;
    cursor: pointer;
}

.AddComment-File__Remove:hover {
    font-size: 24px;
}

.AddComment-File__Info {
    display: none;
    position: absolute;
    width: max-content;
    padding: 8px;
    min-width: 100px;
    max-width: 60vw;
    height: 30px;
    background-color: var(--blue-300);
    top: -40px;
    left: 0px;
    border-radius: 4px;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    overflow: hidden;
}

.AddComment-File__Info span {
    margin-left: 4px;
    letter-spacing: 1px;
}
