@import url('https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,800;0,900;1,800;1,900&display=swap');

.App__Container {
    width: 100%;
    height: 100vh;
    background-color: #faf9ff;
    display: flex;
    flex-direction: row;
}

.Layout__Container{
    width: 100%;
}

.Pages__Container{
    height: calc(100% - 80px);
    padding: 20px;
    position: relative;
}

/*Приоритет снизу вверх*/
/*Сначала правило до 320 потом до 480 и т.д*/
@media (max-width: 768px) {
    /*from 0px to 768px*/
    .Pages__Container{
        padding: 10px;
    }
}
